{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>iMaestro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="layout">
        <!-- Sidebar lateral -->
        <aside class="sidebar">
            <div style="text-align: center;">
                <a href="{% url 'musicas:welcome' %}" class="top_logo">
                    <img src="{% static 'musicas/images/logo_maestro_white.png' %}" alt="Logo iMaestro" class="logo">
                </a>
            </div>

            <nav>
                <ul>
                    <li><a href="{% url 'musicas:welcome' %}" class="active">🏠 Home</a></li>
                    <li><a href="{% url 'musicas:song_repertorio' %}"class="active">🎶 Repertório</a></li>
                    <li><a href="{% url 'musicas:song_create' %}"class="active">➕ Adicionar Música</a></li>
                    <li><a href="{% url 'musicas:import_from_spotify' %}"class="active">🎧 Importar do Spotify</a></li>
                    <li><a href="{% url 'musicas:roadmap' %}"class="active">📋 Roadmap</a></li>
                    <li><a href="{% url 'musicas:create_company_and_band' %}"class="active">🎤 Organização</a></li>
                </ul>
            </nav>

            <!-- Separador visual -->
            <hr style="margin: 20px 0; border-color: #ffffff33;">

            <div>
                {% if user.is_authenticated %}
                    <p>👤 {{ user.first_name|default:user.username }}</p>
                    <hr style="margin: 20px 0; border-color: #ffffff33;">
                    <a href="{% url 'account_logout' %}" class="btn">🚪 Sair</a>
                {% else %}
                    <a href="{% url 'account_login' %}" class="btn">Entrar com Google</a>
                {% endif %}
            </div>
        </aside>

        <hr style="margin: 20px 0; border-color: #ffffff33;">

        <!-- Conteúdo principal -->
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
